 
DebugLevel  0
InterfaceDefaults
{
  Ip4Broadcast      255.255.255.255
  #Ip6AddrType      site-local
  #Ip6MulticastSite     ff05::11
  #Ip6MulticastGlobal   ff0e::1

    HelloInterval       6.0
    HelloValidityTime       600.0
    TcInterval          0.5
    TcValidityTime      300.0
    MidInterval         10.0
    MidValidityTime     300.0
    HnaInterval         10.0
    HnaValidityTime     300.0
 
  #LinkQualityMult 192.168.0.1 0.5
}

LinkQualityFishEye 1
LinkQualityAlgorithm "etx_ff"
IpVersion   4
ClearScreen     yes

# HNA IPv4 routes
# syntax: netaddr netmask
# Example Internet gateway:
# 0.0.0.0 0.0.0.0
 
Hna4
{
#   Internet gateway:
#   0.0.0.0      0.0.0.0
#   more entries can be added:
#   192.168.43.0  255.255.255.0
}
 
# HNA IPv6 routes
# syntax: netaddr prefix
# Example Internet gateway:
Hna6
{
#   Internet gateway:
#   ::              0
#   more entries can be added:
#   fec0:2200:106:: 48
}

AllowNoInt  yes
Willingness     3

IpcConnect
{
     Host            127.0.0.1
     #Net             192.168.1.0 255.255.255.0    
}
 
UseHysteresis   no
LinkQualityLevel    2
Pollrate    0.1
TcRedundancy    2
MprCoverage 5

LoadPlugin "olsrd_txtinfo.so.0.1"
{
  PlParam     "port"   "2006"
  PlParam     "accept" "0.0.0.0"
}

{% for interface in olsrd_interfaces %}
Interface "{{ interface }}"
{% endfor %}

{
#    LinkQualityMult default 0.2
}
